<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde dicta, eos facilis distinctio, eveniet quos enim iure quia harum sunt eum labore. Sequi quod alias, quam nostrum quis quo magni.</p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote__line">
                    <use xlink:href="images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">Filip Prudek</h3>
                <p class="quote__organization">CEO BestCRM
                </p>
            </div>
        </div>
    </footer>
</blockquote>